<div class="container-fluid">
  <h3>GitHub repository check</h3>
  <div>Time: {{ time | async }}</div>
  <h6>Enter Github name:</h6>
  <div class="col-xs-2">
    <input class="form-control" placeholder="ex. alex90" #userInput (keyup.enter)="onEnter(userInput.value)">
  </div>
  <div>
    <button class="btn btn-md btn-info" (click)="searchForRepos(userInput.value)">Search</button>
  </div>
  <br>
  <div class="alert alert-danger" role="alert" *ngIf="isError$ | async">
    {{errorMessage}}
  </div>       
</div>
<div class="row" *ngIf="repositories$ != null">
<div class="container col-md-6">
<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th scope="col">Repository Name</th>
    <th scope="col">Repo url</th>
    <th scope="col">Info</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let repo of repositories$ | async">
    <th scope="row">{{ repo.name }}</th>
    <td><button class="btn btn-sm btn-info"><a id = "GFG" href={{repo.html_url}} target="_blank">check repo</a></button></td>
    <td><button class="btn btn-sm btn-info" (click)="requestRepoInfo(repo.url)">show info</button></td>
  </tr>
  </tbody>
</table>
</div>

<div class="container col-md-6" *ngIf="repoInfo.length > 0">
  <div>
    <h3>
      {{repoName}} details:
    </h3><hr>
    <p *ngFor="let info of repoInfo">
      {{info}}
    </p>
  </div>
</div>
</div>
