<div class="container-fluid">
  <h1>GitHub repository check</h1>
  <div class="cornered">Time: {{ time | async }}</div>

  <div class="row inline">
    <!-- A child component for the user input for the Github username -->
    <user-input-child (repoRequest)="searchForRepos($event)"></user-input-child>

    <!-- A child component for the bookmark bar -->
    <bookmark-bar (clearAlerts)="clearAlerts()"
      (details)="displayBookmarkDetails($event)"></bookmark-bar>
  </div>

  <br>
  <!-- A child component for the error messages -->
  <alert [repositories$]="repositories$"></alert>
</div>
<div class="row">
  <!-- A child component for the list with the user repositories -->
  <repo-list-table (detailsRequest)="requestRepoInfo($event)" [repositories$]="repositories$"
    *ngIf="(repositories$ | async)?.length > 0" class="col-md-5 container-fluid"></repo-list-table>

  <!-- A child component for the details about a selected repository -->
  <repo-details *ngIf="(repoDetails$ | async)?.length > 0" class="container-fluid col-md-6"
    (bookmark)="addBookmark($event)" [repoName]="repoName" [repoDetails$]="repoDetails$"></repo-details>
</div>