<div class="container-fluid">
  <h1>GitHub repository check</h1>
  <div class="cornered">Time: {{ time | async }}</div>
  <div class="inputnbookmarks">
    <!-- A child component for the user input for the Github username -->
    <user-input-child (repoRequest)="searchForRepos($event)"></user-input-child>
    <!-- A child component for the bookmark bar -->
    <bookmark-bar (clearAlerts)="clearAlerts()" (details)="displayBookmarkDetails($event)"></bookmark-bar>
  </div>

  <br>
  <!-- A child component for the error messages -->
  <alert [repositories$]="repositories$"></alert>
</div>
<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <!-- A child component for the list with the user repositories -->
    <repo-list-table (detailsRequest)="requestRepoInfo($event)" [repositories]="repositories$ | async"
      [hidden]="(repositories$ == null)"></repo-list-table>
  </mat-grid-tile>
  <mat-grid-tile>
    <!-- A child component for the details about a selected repository -->
    <repo-details *ngIf="(repoDetails$ | async)?.length > 0" (bookmark)="addBookmark($event)" [repoName]="repoName"
      [repoDetails$]="repoDetails$"></repo-details>
  </mat-grid-tile>