p.break-newline{
    white-space: pre-wrap;
}

div{
    font-size: medium;
    color: darkred;
}

.content{
    vertical-align: top !important;

}

.inline{
    display: inline-flex;
    width: 100%;
    align-items: center;
}