p.break-newline{
    white-space: pre-wrap;
}

p{
    color: darkred;
    font-size: medium;
}


.content{
    vertical-align: top !important;
}

.inline{
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.icon{
    vertical-align: baseline;
}